.button {
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #393e46;
  background-color: transparent;
  color: #393e46;
}
.button:focus,
.button:hover {
  border: 2px solid #fcda05;
  color: #fcda05;
}

.movieContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.poster {
  max-width: 300px;
  margin-right: 40px;
}

section:not(:last-child) {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
}
.sectionTitle {
  margin-bottom: 10px;
}

.additionalContainer {
  margin-bottom: 20px;
}
.navLink {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #fcda05;
  color: #fcda05;
  text-decoration: none;
  font-size: 18px;
}

.navLink.active {
  color: #fffbe0;
}

.navLink:last-child {
  margin-left: 20px;
}
